.wordle-table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .wordle-table td {
    width: 70px;
    height:70px;
    border: 1px solid #ddd;
  }
  
  .wordle-table td.feedback-green {
    background-color: green;
  }
  
  .wordle-table td.feedback-yellow {
    background-color: yellow;
  }
  
  .wordle-table td.feedback-gray {
    background-color: gray;
  }
  